
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --background-color:#151514;
  --text-color: rgb(233, 230, 230);
  --div:#242525;
  --border-hr:rgba(255, 255, 255, 0.353);
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  /* background-color: var(--background-color); */
}

a{
  text-decoration: none;
  color: #5a5a5a;
}

img{cursor: pointer;}



.flex-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p{
  color: var(--text-color);
}

/*-----------------------------------------------navbar*/

nav{
  padding: 10px 2px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background: var(--background-color);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav .hamimg{
  transform: translateY(-16px);
}

.navright img{
  margin-right: 25px;
}

.navmiddle{
  gap:1.5rem;
}

.searchbox{
  background-color:var(--div);
    /* width: 1rem; */
    height: 2.6rem;
    border-radius: 10rem;
    padding:0rem;
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.353);
}

.input{
  width: 30rem;
    height: 2.1rem;
    border-radius: 10rem 0rem 0rem 10rem;
    background-color: var(--background-color);
    border: none;
    color:var(--text) ;
    padding-left: 1rem;
    font-weight: bold;
}

.input:focus-visible{
  border: none;
  outline: none;
  
}

.searchicon{
  padding: 0.4rem;
  width:1.8rem;
  height: 2.5 rem;
  margin: 1rem;
}

.micicon{
  background-color: var(--div);
  border-radius: 2rem;
  height: 2.6rem;
  width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.micimg{
  height:2rem;
  width: 2rem;
}
/*-----------------------scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-corner {
  display: none;
}


/* Track */
::-webkit-scrollbar-track {
  visibility: none;
  height: 100vh;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--border-hr); 
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #403f3f; 
} */
/*----------------------aside*/

.sidebar{
  background:var(--background-color) ;
  width: 15%;
  height: 91vh;
  position: fixed;
  top: 5rem;
  
  padding-left: 2%;
  padding-top: 1rem;
  padding-bottom: 3rem;
  z-index: -1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--text-color);
 
}

.sidebar:hover{
  overflow: scroll;
  scroll-behavior: smooth;
 
}

.shortcut-links a{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width:fit-content;
  flex-wrap: wrap;
}

.title{
  color: var(--text-color);
  margin: 1rem 0rem;
}

.sidebar hr{
  width: 85%;
  border: 1px solid var(--border-hr);
  
  height: 2px;
  
  margin: 1rem 0rem;
}

.sidebar-none{
  width:5%;
  overflow-y: hidden;
}

.sidebar-none :hover{
  overflow:hidden;
}

.sidebar-none p{
  display: none;
}

.sidebar-none .title{
  display: none;
}

.sidebar-none hr{
  display:none;
}

.sidebar-none img{
  display: none;
}

.sidebar-none .about{
  display: none;
}

.sidebar-none .google{
  display: none;
}

.sidebar-none .show{
  display: block;
}

.about{
  color: var(--text-color);
}

.google{
  color: var(--border-hr);
  margin-bottom: 0px;
}

/*===============main============*/


.container{
  padding:20px 2% 20px 17%;
  background-color: var(--background-color);
      height: 100vh;
  z-index: -2;
  position: fixed;
  left: 14rem;
  width: 86%;
  padding: 0px 20px 0px 20px;
  overflow-y: scroll;
  display: flex;
}

.sidebar-none-container{
  background-color: var(--background-color);
    height: 100vh;
    z-index: -2;
    position: fixed;
    left: 4rem;
    width: 100%;
    padding: 0.2rem 0.1rem;
    display: flex;
    overflow-y: scroll;
    
}

.sidebar-none-container .videos-container{
  gap: 0.2rem;
  display: flex;
    overflow-y: scroll;
    padding-bottom: 4rem;
}


.video-info{
  width:22rem;
}

.videos-container{
 display: flex;
 justify-content: center;
 overflow-y: scroll;
 flex-wrap: wrap;
  gap:2rem;
  padding-bottom: 6rem;
}

.channel-avatar img{
  width: 3rem;
    border-radius: 5rem;
}

.video-title{
  color: var(--text-color);
    font-weight: 500;
    overflow: hidden;
    height: 2.6rem;
    width:18rem;

}

.icon-title{
  display:flex;
}

.channel-name, .video-views{
  color: var(--border-hr);
    font-weight: 500;
}


/*-----media queries--------*/
@media only screen and (max-width:1280px){
  .sidebar-none-container{
    left:0;
    width:100%;
  }
  .videos-container{
    padding-left:5%;
    width:100%;
  }

  .sidebar{
    width:20%;
  }

  .sidebar-none{
    width:5%;
  }

  /* #main-container .container{
    left:0;
    width:100%;
  } */
}

@media only screen and (max-width:1140px){
  .input{
    width:100%;
  }
  .sidebar-none-container{
    left:0;
    width:100%;
  }
  /* .videos-container{
    padding-left:5%;
    width:100%;
  } */

  /* .sidebar{
    width:20%;
  } */

  /* .container{
    left:20%;
  } */

  .sidebar + .container {
    
    left:20%;
  }

  .sidebar-none + .container {
    
    left:5%;
  }

  .sidebar-none{
    width:5%;
  }
}

